.header {
    padding: 20px 0 10px 0;
    background-color: #f5f5f5;
}

.inner {
    width: 700px;
}

.logo {
    font-size: 22px;
    font-weight: bolder;
    display: inline-block;
    padding: 7px 0;
    hr {
        margin: 7px;
        border-top: 2px solid #000;
    }
    a {
        color: #222;
        &:hover {
            text-decoration: none;
        }
    }
}

.home {
    .post {
        color: #666;
        border-bottom: 1px dashed #666;
        font-size: 16px;
        padding: 20px 0 10px 0;
        a {
            cursor: pointer;
            text-decoration: none;
            color: #666;
        }
    }
}
