.header {
    padding: 20px 0 10px 0;
    background-color: #f5f5f5;
}
.inner {
    width: 700px;
}
.logo {
    font-size: 22px;
    font-weight: bolder;
    display: inline-block;
    padding: 7px 0;

    hr {
        margin: 7px;
        border-top: 2px solid #000;
    }
    a {
        color: #222;

        &:hover {
            text-decoration: none;
        }
    }
}
.home {
    .post {
        color: #666;
        border-bottom: 1px dashed #666;
        font-size: 16px;
        padding: 20px 0 10px 0;

        a {
            cursor: pointer;
            text-decoration: none;
            color: #666;
        }
    }
}
.post-content {
    margin: 80px 0 100px 0;
    .post-title {
        text-align: center;
        font-size: 26px;
        font-weight: 400;
    }
    .post-meta {
        text-align: center;
        color: #999;
        font-size: 12px;
        padding: 10px;
    }
    .post-body {
        padding: 50px 0 100px 0;
    }
}